<%= render partial: "header", locals: { user: @user } %>

<div class="gap-1">
  <div class="user-card">
    <span class="card-title">Bio</span>
    <span class="user-bio"><%= @user.bio %></span>
  </div>
</div>

<div class="post-voloany">
  <% if @recent_posts.any? %>
    <% @recent_posts.each do |recent_post| %>
      <%= render partial: "posts/post", locals: { post: recent_post } %>
    <% end %>
    <% else %>
    <p>No recent posts found for <%= @user.name %>.</p>
  <% end %>
</div>

<a 
  href="<%= user_posts_path(user_id: @user.id) %>" 
  class="user-card" 
> 
  <button class="see-all-posts">
  See All Posts
  </button>  
</a>
