<%= render partial: "header", locals: { user: @user } %>

<div class="gap-1" style="display:flex; justify-content: start; width:100%;">
  <div class="user-card gap-0 flex-col items-start border-card">
    <span class="card-title">Bio</span>
    <span class="user-bio"><%= @user.bio %></span>
  </div>
</div>

<div class="post-voloany">
  <% if @recent_posts.any? %>
    <% @recent_posts.each do |recent_post| %>
      <span class="card-title"><%= recent_post.title %></span>
      <span class="user-bio line-clamp-2"><%= recent_post.text %></span>
      <span class="user-totalpost w-full">Comments : <%= recent_post.comments_counter %>, Likes : <%= recent_post.likes_counter %></span>
    <% end %>
    <% else %>
    <p>No recent posts found for <%= @user.name %>.</p>
  <% end %>
</div>

<a 
  href="<%= user_posts_path(user_id: @user.id) %>" 
  class="user-card border-card" 
  style="width: fit-content;"
> 
  See all posts  
</a>
